<h1>Register</h1>
<span *ngIf="success == false">
  <span class="error" *ngFor="let error of errors">{{error}}</span>
</span>
<form class="well" (submit)="register($event)">
  <div class="form-group col-md-6">
    <label>Username</label> <input class="form-control" name="username" id="username" type="text">
    <label>Password</label> <input class="form-control" name="password" id="password" type="password">
    <label>Verify Password</label> <input class="form-control" name="verifyPassword" id="verifyPassword" type="password">
    <input class="btn btn-primary" type="submit" value="Register"><br>
  </div>
</form>
<a href="/login"><button class="btn btn-primary" type="button">Back to login</button></a>
