
<h2>Hello {{user.name}}!</h2>
<form>
  <input type="hidden" name="userId" id="userId" value="{{user._id}}">
    <span *ngIf="success == false">
      <span class="error" *ngFor="let error of errors.addPicture">{{error}}</span>
    </span><br>
    <span *ngIf="success == true">
      <span class="success"> {{successMessage.addPicture}}</span>
    </span>
    <div>
    <img src="/{{user.picture.url}}"><br>
    <span>{{user.picture.caption}}</span>
    <input  (change)="addPicture($event)" type="file" name="changeProfilePictureFileInput" id="changeProfilePictureFileInput" accept="image/*">
  </div>
</form>
<form class="well" (submit)="changePassword($event)">
  <div class="form-group">
    <h3>Change Password</h3>
    <span *ngIf="success == false">
      <span class="error" *ngFor="let error of errors.changePassword">{{error}}</span>
    </span><br>
    <span *ngIf="success == true">
      <span class="success"> {{successMessage.changePassword}}</span>
    </span>
    <!-- ngModel must be used to interact with task.component -->
    <input type="password" id="change-password-text-entry" name="newPassword" class="form-control" placeholder="New Password"><br>
    <input type="password" id="verify-password-text-entry" name="verifyPassword" class="form-control" placeholder="Verify Password"><br>
    <input class="btn btn-primary" type="submit" value="Change Password"><br>
  </div>
</form>
