<form class="well" (submit)="addTask($event)">
  <div class="form-group">
    <!-- ngModel must be used to interact with task.component -->
    <input type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="Add Task Information"><br>
    Category: <select name="category" [(ngModel)]="category">
      <option *ngFor="let category of categoryTasks" value="{{category.name}}">{{category.display}}</option>
    </select>
  </div>
</form>

<div *ngFor="let category of categoryTasks">
  <div *ngIf="category.user_id === user._id">
    <div class="task-list task-tab-content" id={{category.name}}>
      <h3>{{category.display}}</h3>
      <div *ngFor="let task of allTasks">
        <div *ngIf="task.category == category.name || category.name == 'all-tasks'" class="row">

          <div class="col-md-1">
            <input type="checkbox" [checked]="task.isDone" (click)="updateStatus(task);">
          </div>
          <div class="col-md-10">
            {{task.title}}
          </div>
          <div class="col-md-1">
            <input type="button" value="Delete" (click)="deleteTask(task._id);" class="btn btn-danger">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
