<form class="well" (submit)="addTask($event)">
  <div class="form-group">
    <!-- ngModel must be used to interact with task.component -->
    <input type="text" id="task-text-entry" [(ngModel)]="title" name="title" class="form-control" placeholder="Add Task Information"><br>
    <input type="hidden" id="task-category-id">
    <input type="hidden" id="task-user-id">
    Priority: <select id="task-priority" [(ngModel)]="priority" name="priority" value="med">
      <option value="low">Low</option>
      <option value="med" >Medium</option>
      <option value="high">High</option>
    </select>
    Due Date: <input type="date" id="task-due-entry" [(ngModel)]="dueDate" name="dueDate" class="form-control"><br>

  </div>
</form>
<!-- All tasks -->
<div>
  <table class="table" id="all-tasks-table">
    <tr>
      <th onclick="sortTable(0, 'all-tasks-table')">Done?</th>
      <th onclick="sortTable(1, 'all-tasks-table')">Title</th>
      <th onclick="sortTable(2, 'all-tasks-table')">Priority</th>
      <th onclick="sortTable(3, 'all-tasks-table')">Action</th>
      <th onclick="sortTable(4, 'all-tasks-table')">Due Date</th>
    </tr>
    <tbody *ngFor="let task of allTasks">

      <tr *ngIf="task.user_id == user._id">
        <td><input type="checkbox" [checked]="task.isDone" (click)="updateStatus(task);"></td>
        <td>{{task.title}}</td>
        <td>{{task.priority}}</td>
        <td><input type="button" value="Delete" (click)="deleteTask(task._id);" class="btn btn-danger"></td>
        <td>{{task.due_date}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngFor="let category of categoryTasks">
  <div *ngIf="category.user_id === user._id || category.share_id === user._id">


    <!-- Categories -->
    <div class="task-list task-tab-content" id={{category.name}}>
      <h3>{{category.display}}</h3>
      <table class="table" id={{category._id}}>
        <tr>
          <th (click)="sortTable(0, category._id)">Done?</th>
          <th (click)="sortTable(1, category._id)">Title</th>
          <th (click)="sortTable(2, category._id)">Priority</th>
          <th (click)="sortTable(3, category._id)">Action</th>
          <th (click)="sortTable(4, category._id)">Due Date</th>
        </tr>
        <tbody *ngFor="let task of allTasks">
          <tr *ngIf="task.cat_id == category._id || category.name == 'all-tasks'" style="width:100%;">
            <td><input type="checkbox" [checked]="task.isDone" (click)="updateStatus(task);"></td>
            <td>{{task.title}}</td>
            <td>{{task.priority}}</td>
            <td><input type="button" value="Delete" (click)="deleteTask(task._id);" class="btn btn-danger"></td>
            <td>{{task.due_date}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
