<nav id="menu">
  <ul>
    <li><a href="/accounts">List</a></li>
    <!--NOTE: Disabled because not sure of implementation
<li><a href="/analysis">Analysis</a></li>
-->
<!--NOTE: Disabled because not sure of implementation
    <li><a href="/process">Process Files</a></li>
-->
    <li><a href="/settings">Settings</a>
    <!--NOTE: Disabled because not sure of implementation
<li id="Selector_Menu_Lists" class="selector_menu_dropdown">
      <a href="javascript:void(0)" class="selector_menu_dropper" onclick="selector_Menu_Dropdown_Show()">Lists</a>
      <div id="selector_menu_Lists_dropdown" class="selector_menu_dropdown_content">
        <a href="/lists/sales-rep-lists">Sales Rep Lists</a>
        <a href="/lists/sic-code-lists">SIC Lists</a>
        <a href="/lists/state-region-lists">Region Lists</a>
      </div>
    </li>
-->
    <li><a href="/about">About</a></li>
  </ul>
</nav>
