<h2>Here you can create new lists to organize your tasks </h2>
<form class="well" (submit)="addList($event)">
  <div class="form-group">
    <!-- ngModel must be used to interact with the module-->
    <input type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="Add the name of your new list"><br>
  </div>
</form>
<h1>Here are your current lists:</h1>
<div id="currentLists" *ngFor="let list of allTabs">
  <div *ngIf="list.user_id == user._id">
    <div class="col-md-11">
    {{list.display}}
    </div>
    <div class="col-md-4">
      <input type="button" value="Share" (click)="chooseShare(list);" class="btn btn-danger">
      <input type="button" value="Delete" (click)="deleteList(list._id);" class="btn btn-danger">
    </div>
    <div id="shareList"></div>
  </div>
</div>
